@import url("https://fonts.googleapis.com/css?family=Montserrat&display=swap");

* {
  scroll-behavior: smooth;
}

body {
  font-family: "Montserrat", sans-serif;
}

.jumbotron3 ul,
.serv {
  list-style: circle;
}

.serv li {
  margin: 10px 0 10px 0;
}

#gallery li {
  height: 170px;
  overflow: hidden;
}

.bc {
  background-position: center;
  background-size: cover;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  transition: 200ms ease-in-out;
  border-radius: 10px;
  z-index: 10;
  background-color: white;
  width: 500px;
  max-width: 70%;
}

.modal.active {
  transform: translate(-50%, -50%) scale(1);
}

#overlay {
  position: fixed;
  opacity: 0;
  transition: 200ms ease-in-out;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  pointer-events: none;
}

#overlay.active {
  opacity: 1;
  pointer-events: all;
}
